/**********************************************************
 * Layout
 *********************************************************/

h1 {
    float: left;
    margin-left: 1em;
}

footer {
    clear: both;
}

#picture-bar-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    width: 400px;
    height: 100px;
}

#picture-bar {
    position: absolute;
    left: 10px;
    padding: 3px;
    width: 350px;
    height: 90px;
}

#picture-upload {
    position: absolute;
    top: 34px;
    right: 10px;
    padding: 5px;
    width: 20px;
    height: 32px;
}

#display-wrapper {
    float: left;
}

.image-wrapper {
    float: left;
    padding: 20px;
    margin: 20px;
}

.image {
    max-width: 500px;
    max-height: 500px;
}

.image-h-wrapper {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#toolbox-wrapper {
    margin-top: 20px;
    padding: 5px;
}

.tool {
    display: inline-block;
}

.clear {
    clear: both;
}

/**********************************************************
 * Appearance
 *********************************************************/

.rounded-corners(@radius: 15px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}

a img {
    border: 0;
}

#picture-bar-wrapper, #picture-bar, #picture-upload, #display-wrapper,
  #toolbox-wrapper, .image-wrapper {
    .rounded-corners;
}

.image-wrapper {
    overflow: hide;
}


/**********************************************************
 * Colours
 *********************************************************/

@bgblue:    #93CCEA;
@fgorange:  #FFBF00;

body, #picture-bar, #picture-upload {
    background-color: @bgblue;
}

#picture-bar-wrapper, #display-wrapper, #toolbox-wrapper {
    background-color: @fgorange;
}

.image-wrapper {
    background-color: white;
}


/**********************************************************
 * Typography
 *********************************************************/

html {
    font-family: 'Smythe', arial, serif;
}

h1 {
    font-size: 3em;
}

