html        { font-family: 'Smythe', arial, serif; }
body        { background-color: #93CCEA; }
h1          { float: left; margin-left: 1em; }
footer      { clear: both; }

#picture-bar-wrapper {
    float: right;
    background-color: #FFBF00;
    border-radius: 15px;
    padding: 10px;
}

#picture-bar {
    background-color: #93CCEA;
    border-radius: 15px;
    padding: 5px;
    height: 80px;
    float: left;
}

#picture-upload {
    background-color: #93CCEA;
    border-radius: 15px;
    border: 0;
    padding: 5px;
    float: right;
    margin-left: 0.3em;
    width: auto;
    height: 32px;
    top: 20px;
}

#no-pictures {
    position: relative;
    font-size: 1.2em;
    top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

div.picture-thumb {
    display: inline;
    position: relative;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    margin-right: 3px;
    width: 86px;
}

div.picture-thumb img {
    margin-right: 2px;
    position: relative;
}

a img {
    border: 0;
}
