/**********************************************************
 * Layout
 *********************************************************/

h1 {
    float: left;
    margin-left: 1em;
}

footer {
    clear: both;
}

#picture-bar-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    width: 380px;
    height: 93px;
}

#picture-bar {
    position: absolute;
    left: 10px;
    padding: 3px;
}

#picture-bar li {
    height: 100%;
    position: relative;
    span {
        display: none;
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 2px;
    }
    &:hover span {
        display: inline;
    }
}

#picture-upload {
    position: absolute;
    top: 30px;
    right: 10px;
    padding: 5px;
    width: 20px;
    height: 32px;
}

#display-wrapper {
    float: left;
    margin-top: 10px;
}

#help, #keyboard-shortcuts {
    display: none;
}

.image-wrapper {
    float: left;
    padding: 20px;
    margin: 20px;
}

.image {
    max-width: 500px;
    max-height: 500px;
}

.image-h-wrapper {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#toolbox-wrapper {
    margin-top: 20px;
    padding: 5px;
}

.tool {
    display: inline-block;
}

.toolpane {
    display: none;
    margin-top: 0px;
    padding: 10px;
    position: relative;
    h2 {
        margin-top: 0px;
        padding-left: 25px;
    }
}

.toolpane-close {
    position: absolute;
    top: 15px;
    left: 10px;
}

.clear {
    clear: both;
}

/**********************************************************
 * Appearance
 *********************************************************/

.rounded-corners(@radius: 15px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}

a img {
    border: 0;
}

#picture-bar-wrapper, #picture-upload, #display-wrapper, #toolbox-wrapper {
    .rounded-corners;
}

.toolpane {
    .rounded-corners;
}

.image-wrapper {
    .rounded-corners;
    overflow: hide;
}

.jcarousel-skin-pyph {
    .jcarousel-container {
        .rounded-corners;
    }
}

#picture-bar li {
    img {
        cursor: pointer;
    }
    span {
        .rounded-corners(3px);
        a:hover img {
            opacity: 0.5;
        }
    }
}

.toolpane-close {
    cursor: pointer;
}

/**********************************************************
 * Colours
 *********************************************************/

@bgblue:    #93CCEA;
@fgorange:  #FFBF00;

body, #picture-bar, #picture-upload {
    background-color: @bgblue;
}

#picture-bar-wrapper, #display-wrapper, #toolbox-wrapper, .toolpane {
    background-color: @fgorange;
}

.jcarousel-skin-pyph .jcarousel-container {
    background-color: @bgblue;
}

#picture-bar li span {
    background-color: @fgorange;
}


/**********************************************************
 * Typography
 *********************************************************/

html {
    font-family: 'Smythe', arial, serif;
}

h1 {
    font-size: 3em;
}

